---
import MainLayout from "src/layouts/MainLayout.astro";

---

<MainLayout title="Images">
    <h1 class="text-4xl font-bold h-20 w-96 bg-gradient-to-r from-gray-400 via-green-400 to-white text-transparent bg-clip-text">Images</h1>
</MainLayout>