---
import { ViewTransitions } from 'astro:transitions';
import '../styles/blog.css';
// interface Props{
//     title?: string;
//     description?: string;
// }
const {title, description} = Astro.props;//...rest

// const frontmatter = rest.frontmatter;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<title>{title}</title>
		<link
		rel="alternate"
		type="application/rss+xml"
		title="Alessandro Blog RSS Feed"
		href={new URL("rss.xml", Astro.site)}
	/>
        <ViewTransitions />
	</head>
	<body >
		
        <div class="absolute  -z-10 min-h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#A9A9A9_100%)]">
       
              <main class="h-full max-w-5xl m-auto px-2 py-2 flex flex-col">
                <a class="text-white text-2xl font-medium mb-4" href="/" id="btn-back">Regresar</a>
                <div class="flex-1">
                  <slot />
                </div>
              </main>
            
            </div>
          
          
			
        
	</body>
</html>